
<h1><%= best_in_place @list, :title %></h1>
<div class = "form_container">
  <div class = "form">
    <%= render 'tasks/form' %>
  </div>
  <div class = "completed_tasks">
    <%= button_to 'Completed Tasks', {:action => 'deleted_tasks'}, :method => :get, :class => "btn btn-primary"  %>
  </div>
</div>




    <%= render 'list', :post => @tasks%>



<%= link_to 'New Task', new_list_task_path(@list), :method => :get %>
<br>
<%= link_to 'Lists', lists_path %>
