<h1><%= best_in_place @list, :title %></h1>
  <thead>Tasks</thead> 
    <% @tasks.each do |task| %>
      <table class = "table table-hover">  
        <td><%= task.description %></td>
        <td style = "text-align:right;"><%= link_to "Edit", edit_list_task_path(@list, task)%>  <%= link_to "Delete", list_task_path(@list, task), :method => :delete %></td>
      </table>
  <% end %>


<br>

<%= link_to 'New Task', new_list_task_path(@list), :method => :get %>
<br>
<%= link_to 'Lists', lists_path %>
