<div id = "list-title" class="span12">
  <h1><%= best_in_place @list, :title %></h1>
</div>

  <div id = "sub-nav" class="row span12">
    <%= render 'tasks/form' %>
      <ul class="nav nav-pills">
        <li class="active"><a href="#">Today</a></li>
        <li><a href="#">Tomorrow</a></li>
        <li><a href="#">This Week</a></li>
        <li><a href="#">All</a></li>
      </ul>
    <div class = "completed-tasks">
      <%= button_to 'Completed Tasks', {:action => 'deleted_tasks'}, :method => :get, :class => "btn btn-primary"  %>
    </div>
  </div>

  <%= render 'list'%>
  <%= link_to 'New Task', new_list_task_path(@list), :method => :get %>

  <br>

  <%= link_to 'Lists', lists_path %>

  <br><br>

  <br><br>