<% @a = ["One", "Two", "Three"] %>
<% @i = 0 %>

<%= render 'header' %>

  <table class = "table table-hover">  
    <% @tasks.each do |task| %>
			<tr>
    		<td>
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=@a[@i]%>">
                  <%= best_in_place task, :description, :path => list_task_path(@list, task) %>
                </a>
              </div>
                <div id="collapse<%=@a[@i]%>" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Anim pariatur cliche...
                  </div>
                </div>
          </td>
        	<td style = "text-align:right;">
            <%= link_to "Delete", list_task_path(@list, task), :method => :delete %>
          </td>
			  </tr>
      </div>
      <% @i = @i + 1 %>
	  <% end %>
  </table>


<br>

<%= link_to 'New Task', new_list_task_path(@list), :method => :get %>
<br>
<%= link_to 'Lists', lists_path %>


