<% @a = ["One", "Two", "Three"] %>
<% @i = 0 %>

<%= render 'header' %>

    <% @tasks.each do |task| %>

          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=@a[@i]%>">
                  <%= best_in_place task, :description, :path => list_task_path(@list, task) %>
                  <%= link_to "Delete", list_task_path(@list, task), :method => :delete %>
                </a>
              </div> <!-- closing accordion heading -->

                <div id="collapse<%=@a[@i]%>" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Anim pariatur cliche...
                  </div> <!-- closing accordion inner -->
                </div> <!-- closing accordion collapse -->
            </div> <!-- closing accordion group -->
          </div> <!-- closing accordion main -->

      <% @i = @i + 1 %>

    <% end %>


<br>

<%= link_to 'New Task', new_list_task_path(@list), :method => :get %>
<br>
<%= link_to 'Lists', lists_path %>


