<%= form_for([@list, @task = Task.new], :remote => true ) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "fields">
    <%= f.text_field :description, :placeholder => "New Task" %> <%= f.text_field :date, :placeholder => DateTime.now.strftime('%m-%d-%Y')%>
      <button type="submit" class="btn" style = "margin-bottom: 10px; margin-left: 4px;"><i class="icon-plus-sign"></i></button>
  </div>

<% end %>