<tr id="<%= dom_id(task, :row) %>" class="task">
  <td>
    <%= best_in_place task, :description, :path => list_task_path(@list, task), :method => "put" %>
  </td>
  <td>
    <span class="date">
      <%= date_in_english(task) %>
    </span>
  </td>
  <td>
      <span class="text_link">
   <%= link_to "text", new_list_task_reminder_path(@list, task), :remote => true %>
      </span>
  </td>
  <td style="text-align:right;">
    <%= link_to '', list_task_path(@list, task), :method => "delete", :class => 'icon-ok', :remote => true %>
  </td>
</tr>


