<%= form_for([@list, @task = Task.find(params[:id]), @reminder], :remote => true ) do |f| %>
   <% if @task.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

       <ul>
       <% @task.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
       </ul>
     </div>
   <% end %>
   <div class = "fields">
     <%= f.label :date %>
     <%= f.date_select :date, :discard_year => true %>
     <%= f.label :time %>
     <%= f.time_select :time, :discard_year => true %>

     <%= f.submit "create"%>
    </div>
<% end %>
