$(document).ready(function() {
  $('.modal_button').on("click", function() {
  	event.preventDefault();
    bootbox.alert("<%= 2+2 %>");
  });
});


// you can put embedded ruby into the modal
// put simple form into the modal view
// maybe use this as a model:

// <%= form_for(@list) do |f| %>
//   <div class="field">
//     <%= f.label :title %><br />
//     <%= f.text_area :title %>
//   </div>
//   <div class="actions">
//     <%= f.submit %>
//   </div>

// <% end %>